#servicios {
    background-color:cyan;
    background-position: center;
    color: #000; 
    padding: 100px;
}

#contacto {
    background-image: url('https://picsum.photos/200/300/?random');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 100px;
}
